##**Bacharelado em Ci√™ncia de Dados - Univesp** üèÜ
---
###**Disciplina - Minera√ß√£o de Dados** ü¶ò
###**Link**: https://ava.univesp.br/ultra/courses/_5991_1/cl/outline üõ∏
##**Prof.**Dr. Higor Amario de Souza üêÖ
##**Aluno: Aelso Rocha Brito** üê∏
##**notebook**ComAnota√ß√µesDasVideoaulas üßß
## **Semestre:** 01.2022 ‚öæ
---

### Minera√ß√£o de dados - Semana 2: 
Exerc√≠cio sobre pr√©-processamento de dados

Neste exerc√≠cio, iremos fazer o pr√©-processamento de uma base de dados, aplicando alguns dos conceitos vistos na aula da semana. 

Acesse o [Google Colab](https://colab.research.google.com/), lembrando que √© necess√°rio ter uma conta google para conseguir usar este ambiente. Se preferir, voc√™ pode tambe·∏ø fazer o exerc√≠cio usando o [Jupyter Notebook](https://jupyter.org/). 

Crie um novo notebook (New notebook) para fazer este exerc√≠cio. D√™ um nome para o seu caderno (sugest√£o: semana02-limpeza). Inclua uma descri√ß√£o para o ser caderno clicando ‚Äú+ Text‚Äù. Isso vai inserir uma c√©lula de texto no caderno. 

Em seguida, vamos importar as bibliotecas **pandas** e **numpy**.

In [ ]:
import pandas as pd
import numpy as np

A base de dados de exemplo simula registros de casos de pessoas que foram infectadas com a COVID-19 no Brasil. O dicion√°rio de dados da base √© o seguinte:

* **id**: campo identificador do registro.
* **idade**: idade da pessoa.
* **uf**: estado onde a pessoa foi diagnosticada.
* **renda**: classe social a qual a pessoa pertence, variando entre A e E.
* **vacina**: indica se a pessoa foi vacinada (1) ou n√£o (0).

Importe a base de dados direto da URL a seguir e verifique as primeiras linhas. O arquivo cont√©m 50 registros. Olhando os 20 primeiros, podemos observar que h√° valores ausentes nos atributos **idade**, **uf** e **renda**.

In [ ]:
url = 'https://raw.githubusercontent.com/higoramario/univesp-com360-mineracao-dados/main/dados-covid-limpeza.csv'
casos_covid = pd.read_csv(url)
casos_covid.head(20)

    id  idade   uf renda  vacina
0    1   15.0   SP     C       1
1    2   38.0   MG   NaN       0
2    3   49.0   RJ     C       0
3    4   71.0   BA   NaN       0
4    5   58.0   MG     D       1
5    6   26.0   SP     B       0
6    7   87.0   BA   NaN       1
7    8   56.0   MG     A       1
8    9   74.0   BA   NaN       0
9   10   54.0   SP   NaN       0
10  11   22.0  NaN     C       1
11  12   38.0  NaN     C       0
12  13   14.0   RJ   NaN       1
13  14    NaN  NaN     C       0
14  15   84.0   RS     D       1
15  16    NaN  NaN   NaN       0
16  17    NaN   SP     E       0
17  18   68.0  NaN   NaN       0
18  19   61.0   sp     D       0
19  20    NaN   RS     E       1

Podemos verificar quais s√£o os tipos de dados de cada coluna usando o comando abaixo (fun√ß√£o **info()**). Para cada atributo, o resultado mostra o n√∫mero de colunas n√£o nulas e o tipo de dados. Por exemplo, o atributo idade tem 30 valores n√£o nulos. Campos textuais s√£o considerados como objetos.

In [ ]:
casos_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50 non-null     int64
 1   idade   30 non-null     float64
 2   uf      29 non-null     object
 3   renda   31 non-null     object
 4   vacina  50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB

A seguir, podemos ver a an√°lise descritiva (fun√ß√£o **describe()**) desses dados olhando a distribui√ß√£o desses dados. Por exemplo, a m√©dia de idade √© 48 anos, com desvio-padr√£o de 22 anos. J√° para os dados nominais (**uf**) e ordinais (**renda**) n√£o temos esses valores. Como os dados do atributo **vacina** s√£o bin√°rios, a m√©dia tamb√©m n√£o faz sentido.

In [ ]:
casos_covid.describe()

             id      idade    vacina
count  50.00000  30.000000  50.00000
mean   25.50000  48.666667   0.30000
std    14.57738  22.197131   0.46291
min     1.00000  14.000000   0.00000
25%    13.25000  33.500000   0.00000
50%    25.50000  48.500000   0.00000
75%    37.75000  61.000000   1.00000
max    50.00000  87.000000   1.00000


Vamos olhar a quantidade de valores distintos desses atributos com a fun√ß√£o **value_counts()**.

In [ ]:
casos_covid['uf'].value_counts()

SP    9
MG    5
BA    3
RS    3
RJ    2
PE    2
sp    1
ce    1
rj    1
CE    1
AM    1
Name: uf, dtype: int64

No atributo **uf**, h√° mais registros de S√£o Paulo. Al√©m disso, h√° registros de S√£o Paulo e do Cear√° em mai√∫sculo e min√∫sculo. Vamos fazer a padroniza√ß√£o dos dados da coluna **uf** usando o m√©todo **upper()**.  Isso vai mudar a contagem de registros por estado.

In [ ]:
casos_covid['uf'] = casos_covid['uf'].str.upper()
casos_covid['uf'].value_counts()

SP    10
MG     5
RJ     3
BA     3
RS     3
CE     2
PE     2
AM     1
Name: uf, dtype: int64

Agora vamos olhar os valores de **renda** e **vacina**.

In [ ]:
casos_covid['renda'].value_counts()

C    14
D     7
B     4
A     3
E     3
Name: renda, dtype: int64

In [ ]:
casos_covid['vacina'].value_counts()

0    35
1    15
Name: vacina, dtype: int64

Podemos observar algumas caracter√≠sticas desses dados:
- 35 das 50 pessoas diagnosticadas com COVID-19 n√£o tomaram vacina.
- H√° mais pessoas da classe C entre os infectados.

Agora vamos fazer alguns pr√©-processamentos para imputar os valores ausentes na base de dados usando as caracter√≠sticas dos dados.
Na coluna **idade** vamos usar a m√©dia para imputar os valores ausentes. 

Para isso, vamos usar a fun√ß√£o **fillna()**, que preenche os valores nulos a partir de algum m√©todo, nesse caso, arredondado a **m√©dia** de idade, j√° que √© um valor inteiro.
Olhando a quantidade de registros por valores distintos, vemos o resultado da modifica√ß√£o.

In [ ]:
casos_covid['idade'].fillna(round(casos_covid['idade'].mean()), inplace=True)
casos_covid['idade'].value_counts()

49.0    21
84.0     2
26.0     2
87.0     2
54.0     2
38.0     2
61.0     2
35.0     1
33.0     1
45.0     1
57.0     1
41.0     1
20.0     1
48.0     1
37.0     1
15.0     1
68.0     1
14.0     1
22.0     1
74.0     1
56.0     1
58.0     1
71.0     1
17.0     1
Name: idade, dtype: int64

Para preencher o campo **uf**, vamos usar o m√©todo de **imputar o valor de acordo com a √∫ltima observa√ß√£o**. Para isso, vamos escolher a op√ß√£o **ffill** na fun√ß√£o **fillna**.

Olhando a contagem de registros por estado, podemos ver que a propor√ß√£o foi minimamente mantida.

In [ ]:
casos_covid['uf'].fillna(method="ffill",inplace=True)
casos_covid['uf'].value_counts()

SP    20
RJ     6
RS     6
MG     5
PE     5
CE     4
BA     3
AM     1
Name: uf, dtype: int64

Agora vamos fazer a imputa√ß√£o de **renda** usando o m√©todo de **imputar o valor de acordo com a observa√ß√£o seguinte**, que preenche os valores ausentes a partir da observa√ß√£o seguinte v√°lida (ou para tr√°s). Para isso, vamos escolher a op√ß√£o **bfill** na fun√ß√£o **fillna**.

In [ ]:
casos_covid['renda'].fillna(method="bfill",inplace=True)
casos_covid['renda'].value_counts()

C    22
D    12
B     6
A     5
E     5
Name: renda, dtype: int64

Com isso, fizemos um processo de limpeza de dados, que pode ser verificado usando o m√©todo **info()** ou olhando o dataset inteiro.

In [ ]:
casos_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50 non-null     int64
 1   idade   50 non-null     float64
 2   uf      50 non-null     object
 3   renda   50 non-null     object
 4   vacina  50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB

In [ ]:
casos_covid.head(len(casos_covid))

    id  idade  uf renda  vacina
0    1   15.0  SP     C       1
1    2   38.0  MG     C       0
2    3   49.0  RJ     C       0
3    4   71.0  BA     D       0
4    5   58.0  MG     D       1
5    6   26.0  SP     B       0
6    7   87.0  BA     A       1
7    8   56.0  MG     A       1
8    9   74.0  BA     C       0
9   10   54.0  SP     C       0
10  11   22.0  SP     C       1
11  12   38.0  SP     C       0
12  13   14.0  RJ     C       1
13  14   49.0  RJ     C       0
14  15   84.0  RS     D       1
15  16   49.0  RS     E       0
16  17   49.0  SP     E       0
17  18   68.0  SP     D       0
18  19   61.0  SP     D       0
19  20   49.0  RS     E       1
20  21   49.0  RS     D       1
21  22   35.0  SP     D       0
22  23   37.0  SP     C       1
23  24   48.0  RS     C       0
24  25   49.0  RS     C       0
25  26   49.0  CE     C       1
26  27   20.0  CE     B       0
27  28   49.0  SP     B       0
28  29   49.0  SP     D       0
29  30   41.0  RJ     D       1
30  31   49.0  RJ     B       0
31  32   87.0  RJ     A       0
32  33   49.0  SP     A       1
33  34   49.0  SP     C       0
34  35   26.0  CE     C       0
35  36   49.0  CE     C       1
36  37   49.0  SP     D       0
37  38   84.0  SP     C       0
38  39   49.0  SP     A       0
39  40   54.0  PE     B       0
40  41   61.0  PE     B       0
41  42   49.0  PE     C       0
42  43   49.0  SP     C       0
43  44   57.0  SP     C       0
44  45   45.0  SP     D       0
45  46   33.0  AM     D       0
46  47   49.0  PE     E       0
47  48   49.0  PE     E       0
48  49   49.0  MG     C       1
49  50   17.0  MG     C       0

Com isso, conclu√≠mos o exerc√≠cio de limpeza de dados desta semana. 
Para praticar mais, sugiro que voc√™ escolha um outro conjunto de dados do seu interesse e verifique se h√° necessidade de limpeza (geralmente isso acontece). Se for o caso, fa√ßa a limpeza utilizando o conte√∫do que voc√™ aprendeu esta semana.

Algumas sugest√µes de bases s√£o: 

* [Portal Brasileiro de Dados Abertos](https://dados.gov.br/)
* [Basedosdados.org](https://basedosdados.org/)
* [Kaggle](https://www.kaggle.com/datasets)